* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

body {
	display: flex;
	min-width: 320px;
	min-height: 100hv;
	background: rgb(39, 6, 25);
	text-align: center;
	flex-direction: column;
}

h1 {
	font-size: 2.3em;
	line-height: 1.1;
	margin: 20px;
	color: antiquewhite;
}

.row {
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 1;
	color: antiquewhite;
}

.restart-button {
	margin: 0px;
	height: 70px;
	width: 150px;
	padding: 10px 20px;
	border-radius: 25px;
	background: rgb(208, 136, 178);
	font-size: 20px;
	font-weight: 600;
	color: black;
	box-shadow: none;
	cursor: pointer;
}
